<div class="container" style="max-width: 600px">
  <div class="alert alert-warning">
    <p>Aún estamos trabajando en los úlimos detalles para que puedas registrar tus listas y compartirlas con los novios.</p>
    <p>Te pedimos tus datos, para poder avisarte tan pronto puedas empezar a registrarlas.</p>
  </div>
</div>

<%= partial "lead_register/form", locals: { action: "registro" } %>
