<div class="container" style="max-width: 600px">
  <div class="alert alert-warning">
    <p>Lo sentimos, aún estamos trabajando en el registro de bodas.</p>
    <p>Compartenos tus datos y tan pronto este listo te avisarémos para que puedas registrar tu boda.</p>
  </div>
</div>

<%= partial "lead_register/form", locals: { action: "registro" } %>
