<div class="container">
  <div class="page-header">
    <a href="<%= to("/lists/#{@list.id}/access") %>" class="btn btn-default pull-right">Control de acceso</a>
    <h1>Lista: <%= @list.name %></h1>
  </div>

  <div id="app" data-list-id="<%= @list.id %>"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="../bundle.js"></script>
