<div class="section section-header">
  <div class="parallax filter filter-color-black">
    <div class="image"
         style="background-image: url('assets/img/header-1.jpeg')">
    </div>
    <div class="container">
      <div class="content">
        <div class="title-area">
          <p>Software para organizar lista de invitados</p>
          <h1 class="title-modern">Simple Guest List</h1>
          <h3 class="main-message">
            ¡Ayudamos a <strong>wedding planners a organizar</strong> las <strong>listas de invitados</strong> de sus eventos!</h3>
          <div class="separator line-separator">♦</div>
        </div>

        <div class="button-get-started">
          <a href="lista-de-invitados" target="_blank" class="btn btn-white btn-fill btn-lg ">
            Probar el software
          </a>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <h2>No más listas de excel</h2>
        <div class="separator separator-danger">✻</div>
        <p class="description">
        Sabemos que excel es una gran herramienta para muchas cosas, pero también sabemos que cuando
        se trata de listas de invitados pueden ser un problema más que una ayuda.</p>

        <div class="row">
          <div class="col-md-6">
            <p class="description">
            En lugar de...
            </p>

            <ul class="text-left description">
              <li><strong>Olvidar invitar </strong> personas que se quedaron en otra versión del archivo.</li>
              <li><strong>No tener idea a quien han entregado invitación</strong> porque cada quien lleva una lista por su lado.</li>
              <li><strong>No recordar cuantos pases pusieron en la invitación</strong> de La Familia Perez (es un decir).</li>
              <li>Al final <strong>no saber cual de todas la listas enviar</strong> para rotular las invitaciones.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <p class="description">
            Con <strong>Simple Guest List</strong>...
            </p>
            <ul class="text-left description">
              <li><strong>Invitar justo a las personas que los novios decidieron</strong>, porque llevan un registro único.</li>
              <li>Llevar un <strong>registro único de cada invitación entregada</strong>.</li>
              <li>Llevar un <strong>registro de las invitaciones confirmadas y cuantas personas confirmaron</strong> decada invitación.</li>
              <li>Solo <strong>enviar un link con la lista de invitados a rotular</strong>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="title-area">
      <h2>No más programas lentos<h2>
      <div class="separator separator-danger">✻</div>
      <p class="description">
      <strong>Hay otros programas que te ayudan a crear tu lista de invitados</strong>,
      junto con elegir la música, el pastel, al florista, etc... Como es de esperarse
      cuando un programa es muy grande y hace muchas cosas, es más lento y más complicado.
      </p>

      <p class="description">
      Puedes probar esos programas subiendo algunos invitados, y <strong>empezaras a imaginar
        los días que tardaras en terminar esa lista</strong>. ¡Y que decir cuando empieces a editar
      su información de contacto o agregar a los acompañantes!
      </p>

      <p class="description">
      Con <strong>Simple Guest List</strong> eso no te va a pasar, <strong>porque en lugar de ser
        un programa que hace muchas cosas, es un programa que se enfoca en ayudarte a hacer tu lista
        de invitados de forma rápida y fácil.</strong>
      </p>
    </div>

    <div class="title-area">
      <h2>Ayuda a clientes a agregar los invitados de la manera más rápida</h2>
      <div class="separator separator-danger">✻</div>
      <p class="description">
      Simple Guest List, esta pensado para que...  Los novios <strong>puedan agregar a los invitados
        uno tras otro</strong> separando las manos del teclado lo menos posible. Y para los novios <strong>no tengan
        que "esperar a que el sistema"</strong> para continuar agregando invitados.
      </p>
    </div>

    <div class="title-area">
      <h2>Te ayuda ti y a tus clientes en la entrega de invitaciones</h2>
      <div class="separator separator-danger">✻</div>
      <p class="description">
      Simple Guest List, te ayuda a llevar registro de las invitaciones enviadas y de las personas que estan incluidas
      en cada invitación. Por lo que en todo momento podrás saber cuantas invitaciones faltan por entregar.
      </p>
    </div>

    <div class="title-area">
      <h2>Te ayuda a ti y a tus clientes en la confirmación de invitados</h2>
      <div class="separator separator-danger">✻</div>
      <p class="description">
      Simple Guest List, te ayuda a llevar registro de las personas confirmadas por invitación, por lo que
      sabras cuantas personas van confirmadas en total a la boda y cuantas personas estan confirmadas en cada
      invitación.
      </p>
    </div>
  </div>
</div>

<div class="section section-small section-get-started">
  <div class="parallax filter">
    <div class="image"
         style="background-image: url('assets/img/office-1.jpeg')">
    </div>
    <div class="container">
      <div class="title-area">
        <h2 class="text-white">¿Te gustaría probarlo y verlo en acción?</h2>
        <div class="separator line-separator">♦</div>
        <p class="description">¡Pruébalo! Juega un poco y verás que es justo lo
        que necesitas para ayudar a tus clientes para preparar su grand
        día.</p>
      </div>

      <div class="button-get-started">
        <a href="lista-de-invitados" class="btn btn-danger btn-fill btn-lg">Probar el software</a>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="title-area">
        <h2>Consejos para los novios</h2>
        <div class="separator separator-danger">✻</div>
        <h3><a href="/articles/preguntas-para-reducir-su-lista-de-invitados">Preguntas para reducir su lista de invitados.</a></h3>
        <p class="description">Una pequeña guía de preguntas para ayudarlos a reducir su lista de invitados</p>
      </div>
    </div>
  </div>
</div>

<footer class="footer footer-big footer-color-black" data-color="black">
  <div class="container">
    <div class="row hide">
      <div class="col-md-2 col-sm-3">
        <div class="info">
          <h5 class="title">Company</h5>
          <nav>
            <ul>
              <li>
                <a href="#">Home</a></li>
              <li>
                <a href="#">Find offers</a>
              </li>
              <li>
                <a href="#">Discover Projects</a>
              </li>
              <li>
                <a href="#">Our Portfolio</a>
              </li>
              <li>
                <a href="#">About Us</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-1 col-sm-3">
        <div class="info">
          <h5 class="title"> Help and Support</h5>
          <nav>
            <ul>
              <li>
                <a href="#">Contact Us</a>
              </li>
              <li>
                <a href="#">How it works</a>
              </li>
              <li>
                <a href="#">Terms &amp; Conditions</a>
              </li>
              <li>
                <a href="#">Company Policy</a>
              </li>
              <li>
                <a href="#">Money Back</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="info">
          <h5 class="title">Latest News</h5>
          <nav>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i> <b>Get Shit Done</b> The best kit in the market is here, just give it a try and let us...
                  <hr class="hr-small">
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i> We've just been featured on <b> Awwwards Website</b>! Thank you everybody for...
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-1 col-sm-3">
        <div class="info">
          <h5 class="title">Follow us on</h5>
          <nav>
            <ul>
              <li>
                <a href="#" class="btn btn-social btn-facebook btn-simple">
                  <i class="fa fa-facebook-square"></i> Facebook
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-social btn-dribbble btn-simple">
                  <i class="fa fa-dribbble"></i> Dribbble
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-social btn-twitter btn-simple">
                  <i class="fa fa-twitter"></i> Twitter
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-social btn-reddit btn-simple">
                  <i class="fa fa-google-plus-square"></i> Google+
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <hr>
    <div class="copyright">
      © <script> document.write(new Date().getFullYear()) </script> Simple Guest List, made with love
    </div>
  </div>
</footer>
