<div class="section section-header">
  <div class="parallax filter filter-color-black">
    <div class="image" style="background-image: url('/assets/img/header-1.jpeg')">
    </div>
    <div class="container">
      <div class="content">
        <h1>Preguntas para reducir tu lista de invitados</h1>
        <h3>Una pequeña guía de preguntas para ayudarte a reducir tu lista de invitados</h3>
        <div class="separator line-separator">♦</div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">¿Ya se pasáron de su limite de invitados?</h2>
        <h3 class="text-center">¡No se preocupen!... es normal, a la mayoría le pasa</h3>
        <p class="description">Muchos hemos pasado por este problema, porque la mayoría tenemos un
        presupuesto limitado que seguir. Repasamos y repasamos la lista de invitados y no
        sabemos a quien quitar porque por algo los pusimos en la lista y aparte no queremos
        hacer sentir mal a nadie.</p>
        <p class="description">
        Aunque es probable que algunos de los que recorten se vayan a "sentir", es algo que
        que ellos tendrán que comprender y ustedes tendrán que aceptar.</p>
        <p class="description">
        Bueno empezemos con las preguntas que se tienen que hacer. Estas
        preguntas deberán hacerlas invitación por invitación...</p>

        <h3 class="text-center">¿Su boda sería la misma sin ellos?</h3>
        <p class="description">La idea con esta pregunta es que detectes las
        personas que son indispensables en tu boda. Para algunos pueden ser sus familiares más cercanos,
        para otros ciertos compañeros de la prepa. Aquí lo que importa es que distingan a los que ustedes
        de plano no se imaginan su boda sin ellos.</p>

        <p class="description">Traten de ser rigurosos en la selección de esta lista porque pueden volver
        a terminar con los mismos que empezaron.</p>

        <h3 class="text-center">Si, sí son indispensables... ¿Tiene pareja o son pareja?</h3>
        <p class="description">Si la invitación que estan evaluando es para una pareja y ustedes conocen a los dos y saben
        que son una pareja estable consideren invitar a los dos. Si solo conocen bien a una persona o saben que no es una
        relación formal consideren dar una invitación personal.</p>

        <h3 class="text-center">Si, no son indispensables... ¿Conocen su apellido?</h3>
        <p class="description"><strong>Si</strong> de plano <strong>no</strong> conocen su apellido tal vez sea de los primeros que
        deberías <strong>descartar</strong>. <strong>Si sí</strong> conocen a la persona,
        <strong>consideren</strong> invitarla con un <strong>pase personal</strong>.</p>

        <h3 class="text-center">En conclusión...</h3>
        <p class="description">Si lo que necesitan es recortar personas, lo que tienen que hacer identificar quienes son
        los que ustedes en el fondo realmente quieren que esten. Y este es un pequeño ejercicio que les puede ayudar a
        identificarlos.</p>
        <p class="description">¡Esperamos les sea de ayuda!</p>

        <div class="panel panel-default panel-body panel-info">
          <p class="description">Si les gustaría recibir más articulos para
          ayudarles a terminar su lista de invitados, regístrense dando click
          en el siguiente botón.</p>

          <a class="btn btn-primary" href="/registro_articulos">Registrarme para recibir artículos</a>
        </div>
      </div>
    </div>
  </div>
</div>
