<div class="container" style="max-width: 400px">
  <div class="page-header">
    <h1>Iniciar sesión</h1>
  </div>

  <form action="login" method="POST">
    <% if @error %>
      <div class="alert alert-danger">
        <%= @error %>
      </div>
    <% end %>

    <%= form_group @form, :email, "Email", input_type: "email" %>
    <%= form_group @form, :password, "Contraseña", input_type: "password" %>
    <button type="submit" class="btn btn-default">Enviar</button>
  </form>
</div>
